.header{
    color: inherit;
}
.header-wrapper{
    background:var(--clr-primary-dark);
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.header-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.active{
    background-color: #fff;
    color: var(--clr-txt);
    z-index: 1006;
    
}
.active > .header{
    color: inherit;
}

.header-row-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.brand{
    font-family: var(--ff-logo);
    font-size: var(--txt-medium);
    font-weight: 600;
}
.brand-dot{
    color: var(--clr-primary);
    margin-left: -0.3em;
}
.header-primaryNavigation > ul{
    display: flex;
}
.header-primaryNavigation li{
    font-weight: 600;
}
.header-primaryNavigation > ul > li:not(:first-child){
    margin-left: 1em;
}

.header-userProfile{
    color: #fff;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.secondry-nav{
    display: none;
}


.category-menu{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: var(--txt-small);
}

.category-menu > ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.category-menu li{
    font-size: inherit;
}

.category-menu li:not(:first-child){
    margin-left: 1em;
}

.btn-grp.logout-container{
    padding: 0;
}

@media only screen and ( min-width : 700px ){
    .secondry-nav{
        display: block;
    }
    .header-sticky{
        position: sticky;
    }
}