.gig-page-header{
    padding-top: 1em;
    padding-bottom: 0.6em;
}

.gig-page-header > p {
    margin-top: 0.75em;
}

.gigs-wrapper{
    padding-block: 2em;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    width: 100%;
    gap: auto;
    justify-content: space-between;
    gap: 1.5em 0.8em;
}

.gig-filter-header{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 1em;
    position: relative;
}

.gig-filters-wrap{
    position: relative;
}
.gig-filters-wrap > .link-drawer{
    left: 0;
}

.gig-filters-wrap label{
    font-size: var(--txt-small);
    font-weight: 500;
    display: flex;
    gap: 0.4em;
    align-items: center;
}

.gig-filter__btn{
    height: 2rem;
    border: 1.3px solid rgba( 0 , 0 , 0 ,0.78 ) !important;
    width: 7rem;
}

.gig-filter__btn--active{
    background-color: rgba( 0 , 0 , 0 , 0.15 ) ;
}

.filter-price-region{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    width: auto;
    padding: 1em 1.2em;
}

.filter-price-region > div{
    display: flex;
    flex-direction: column;
    max-width: 9em;
    width: auto;
}

.filter-price-region input {
    height: 2.5em;
    padding-left: 0.3em;
    margin-top: 0.5em;
    width: 100%;
}

@media only screen and ( min-width : 440px ) {
    .gigs-wrapper{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media only screen and ( min-width : 700px ) {
    .gigs-wrapper{
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media only screen and ( min-width : 1100px ) {
    .gigs-wrapper{
        grid-template-columns: repeat( 4 , 1fr);
    }
}