.home-header-wrapper{
    background-color: var(--clr-primary-dark);
    color: #fff;
    
}
.home-header{
    display: flex;
    min-height: 100vh;
    gap: 1em;
}
.home-header__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 1em;
}
.home-header__right{
    margin: auto;
    display: none;
}
.home-header__right > img{
    margin: auto;
    margin-top: auto;
    width: 100%;
}

.header-form{
    position: relative;
    display: flex;
    height: 2.4em;
    margin-top: 1em;
}

.header-form > input {
    width: 100%;
    border-radius: 0.38em;
    height: 100%;
    border: none;
    padding: 0.75em;
    font-size: var(--txt-xsmall);
    color: var(--clr-txt);
}
.header-form > button{
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    border-end-end-radius: 0.38em;
    border-start-end-radius: 0.38em;
    /* padding: 0.8em; */
    background: var(--clr-primary);
    min-width: 2.85em;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.header-form > button > img{
    max-width: 1.3em;
    max-height: 1.3em;
    margin: auto;
}
.home-header__popular{
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-header__popular > li {
    padding: 0.3em 1em;
    border: 1px solid;
    border-radius: 1em;
    margin-left: 0.8em;
    font-size: var(--txt-xsmall);
    font-weight: 600;
    margin-top: 0.5em;
    /* display: block; */
}

@media only screen and  ( min-width:700px ) {
    .home-header__left{
        flex-basis: 62%;
    }
    .home-header__right{
        display: block;
    }
    .home-header-wrapper > .home-header{
        padding-right: 0;
    }
}