.popup-container{
    max-width: max( 13em , 80% );
    position: fixed;
    top: 10%;
    z-index: 2000;
    right: 0;
    padding-block: 0.5em;
    border-radius: 0.1em ;
    min-width: 8em;
    transition: right 0.657s ease-in-out;
    animation: popup-slide 0.6s;
    transform: translateX(100%);
    animation-fill-mode: forwards;
}

@keyframes popup-slide {
    100%{
        /* transform: translateX(-100%); */
        transform: translateX(0%);
    }
    0%{
        transform: translateX(90%);
    }
}

.popup-open {
    right: 2%;
}

.popup-alert{
    background-color: rgba(240, 209, 209 , 0.9);
    color: rgb(252, 0, 0);
}
.popup-success{
    background-color: rgb(206, 241, 219);
    color: green;
}

.popup-close{
    position: absolute;
    right: 2.5%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-close__btn {
    padding-block: 0.35em;
    padding-inline : 0.35em;
    background-color: transparent;
    border: 0;
    color: black;
    opacity: 1;
}

.popup-d-none{
    display: none;
}